{% extends '_base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
<div class="book-detail">
    {% if book.cover %}
    <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
    {% endif %}
    <h2><a class="card card-link page-link" href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></h2>
    <p>Author: {{ book.author }}</p>
    <p>Price: {{ book.price }}</p>
    <div class="div">
        <h3>Reviews</h3>
        <ul class="list-group" style='border-left: 5px solid lightblue; margin:5px'>
            {% for review in book.reviews.all %}
            <li class="list-group-item p-2">
                {{ review.review}} ({{ review.author }})
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}